name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Catch2 Test
      id: catch2-test
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Catch2 Test
        setup-command: ''
        command: make test
        timeout: 2
        max-score: 100
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        CATCH2-TEST_RESULTS: "${{steps.catch2-test.outputs.result}}"
      with:
        runners: catch2-test
